{% extends "base.html" %}

{% block title %} politics {% endblock %}

{% block content %}
<div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0 justify-content-center text-center">POSTS</h6>
    {% for item in values %}
    <div class="media text pt-3">
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <strong class="d-block text-danger">@{{User.query.get(item.user_id).name}}</strong>
       {{item.post}}
        </p>
    </div>
    {% if item.comment %}
        {% for thing in item.comment %}
            <div class="media text-muted pt-3">
                <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <strong class="d-block text">comment</strong><strong class="d-block text-info">@{{thing.commenter}}</strong>
                    {{thing.comment}}
                </p>
            </div>
        {% endfor %}
    {% endif %}
    {% if "user" in session: %}
    <form action = "#" method = "post">
        <div class="form-group justify-content-center text-center">
            <input type="text" name="comment" class="form-control" placeholder="What do you reckon?" required="">
            <input type="hidden" name="actualPost" value="{{item.post}}">
            <br>
            <button class="btn btn-outline-info" type="submit">comment</button>
        </div>
    </form>
    {% endif %}
    {% endfor %}
</div>
    {% if "user" in session: %}
    <form action = "#" method = "post">
        <div class="form-group justify-content-center text-center">
            <label for="textArea">Create Post</label>
            <textarea class="form-control" id="textArea" name="post" rows="3"></textarea>
            <br>
            <button class="btn btn btn-info" type="submit">POST</button>
        </div>
    </form>
    {% endif %}
{% endblock %}